---
layout: compress
homepage: false
---
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="dJ6-jxC4IXWCfgxwx4wurBMe7vXlCXOamMEheobYl5o" />
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}"/>
    <meta name="keywords" content="{{ site.keywords }}"/>
    <meta name="author" content="{{ site.author }}"/>
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="css/modern-blog.css"/>
    <!--[if IE]>
    <script type="text/javascript" src="js/vendors/html5.min.js"></script>
    <![endif]-->
    <script>
        if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
            var root = document.getElementsByTagName('html')[0];
            root.setAttribute('class', 'ff');
        }
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TN4Y96REX4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-TN4Y96REX4');
    </script>
</head>
<body class="body">
<div class="container">
    <header class="header">
        <h1><a href="/index.html">Boutique 277</a><span>Route 277 Sud, direction Lac-Etchemin.</span></h1>
        <nav class="links">
            <a href="/boutique.html#heures"><i class="fa fa-clock-o fa-3x"></i></a>
            <a href="/boutique.html#directions"><i class="fa fa-compass fa-3x"></i></a>
            <a href="/faq.html"><i class="fa fa-question-circle fa-3x"></i></a>
            <a href="tel:(581) 931-8090"><i class="fa fa-phone-square fa-3x"></i></a>
            <a href="mailto:laboutique277@gmail.com"><i class="fa fa-envelope-square fa-3x"></i></a>
            <a href="https://www.facebook.com/boutique277" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
        </nav>
    </header>
    <div class="content">
        <!-- trianglify pattern container -->
        <div class="pattern pattern--hidden"></div>
        <!-- cards -->
        <div class="wrapper">
            {% for post in site.posts %}
                {% if post.category == true %}
                <div class="card" data-id="{{ post.id }}">
                    <div class="card__container card__container--closed">
                        <svg class="card__image" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1200"
                            preserveAspectRatio="xMidYMid slice">
                            <defs>
                                <clipPath id="{{ post.id }}-clip-path">
                                    <polygon class="clip" points="0,1200 0,0 1920,0 1920,1200"></polygon>
                                </clipPath>
                            </defs>
                            <image clip-path="url(#{{ post.id }}-clip-path)" width="1920" height="1200"
                                xlink:href="{{ post.image }}"></image>
                        </svg>
                        <div class="card__content">
                            <i class="card__btn-close fa fa-times"></i>
                            <div class="card__caption">
                                <h2 class="card__title">{{ post.title }}</h2>
                                <p class="card__subtitle">{{ post.subtitle }}</p>
                            </div>
                            <div class="card__copy">
                                <!--div class="meta">
                                    <img class="meta__avatar" src="{{ post.avatar }}"/>
                                    <span class="meta__author">{{ post.author }}</span>
                                    <span class="meta__date">{{ post.date | date: "%Y-%m-%d" }}</span>
                                </div-->
                                {{ post.content }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            <!-- /cards -->
        </div>
    </div>
    <!-- /container -->
</div>
<!-- JS -->

<!-- Messenger Chat Plugin Code -->
<div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat">
</div>
<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "101133762258305");
  chatbox.setAttribute("attribution", "biz_inbox");
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v11.0'
    });
  };
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/fr_FR/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<script src="js/vendors/trianglify.min.js"></script>
<script src="js/vendors/TweenMax.min.js"></script>
<script src="js/vendors/ScrollToPlugin.min.js"></script>
<script src="js/vendors/cash.min.js"></script>
<script src="js/card-modern-blog.js"></script>
<script src="js/modern-blog.js"></script>
</body>
</html>
